.dark {
  background-color: #0d1117;
  color-scheme: dark;
}

.dark {

	--body-background-fill: #383838;
	--background-fill-primary: #2a2a2a;
	--background-fill-secondary: #2a2a2a;
	--border-color-accent: #6c6c6c;
	--border-color-primary: #2e2e2e;
	--slider-color: #00f4f4;
	--input-background-fill: #2e2e2e;
	--input-border-color-focus: #00f4f4;
	--checkbox-label-background-fill: linear-gradient(to top, #2e2e2e, #2e2e2e);
	--checkbox-label-background-fill-hover: linear-gradient(to top, #323232, #323232);
	--button-primary-background-fill: linear-gradient(to bottom right, #00f4f4, #00f4f4);
	--button-primary-background-fill-hover: linear-gradient(to bottom right, #5a5a5a, #5a5a5a);
	--button-primary-border-color: #00f4f4;
	--button-primary-border-color-hover: #00f4f4;
	--loader-color: var(--color-accent);
	--checkbox-border-color-selected: #00f4f4;
	--checkbox-background-color-focus: #2a2a2a;
	--checkbox-background-color-selected: #00f4f4;
	--radio-circle: url(
  "data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='black' xmlns='http://www.w3.org/2000/svg'%3e%3ccircle cx='8' cy='8' r='3'/%3e%3c/svg%3e");
	--checkbox-check: url(
  "data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='black' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M12.207 4.793a1 1 0 010 1.414l-5 5a1 1 0 01-1.414 0l-2-2a1 1 0 011.414-1.414L6.5 9.086l4.293-4.293a1 1 0 011.414 0z'/%3e%3c/svg%3e");
	--button-secondary-background-fill: linear-gradient(to bottom right, #404040, #404040);
	--button-secondary-background-fill-hover: linear-gradient(to bottom right, #00f4f4, #00f4f4);
	--button-secondary-border-color: #2a2a2a;
	--block-label-text-color: #00f4f4;
	


    --primary-50: #e3ffff;
    --primary-100: #bfffff;
    --primary-200: #aaffff;
    --primary-300: #74ffff;
    --primary-400: #40ffff;
    --primary-500: #17ffff;
    --primary-600: #0de7e7;
    --primary-700: #0ec7c7;
    --primary-800: #139f9f;
    --primary-900: #137c7c;
    --primary-950: #136a6a;

    --secondary-50: #e3ffff;
    --secondary-100: #bfffff;
    --secondary-200: #aaffff;
    --secondary-300: #74ffff;
    --secondary-400: #40ffff;
    --secondary-500: #17ffff;
    --secondary-600: #0de7e7;
    --secondary-700: #0ec7c7;
    --secondary-800: #139f9f;
    --secondary-900: #137c7c;
    --secondary-950: #136a6a;


    --neutral-50: #f9fafb;
    --neutral-100: #f1f1f1;
    --neutral-200: #e9e9e9;
    --neutral-300: #dbdbdb;
    --neutral-400: #adadad;
    --neutral-500: #7e7e7e;
    --neutral-600: #606060;
    --neutral-700: #4a4a4a;
    --neutral-800: #323232;
    --neutral-900: #242424;
    --neutral-950: #161616;


	--body-text-color: #d5d5d5;


}


.grid-container.svelte-g4rw9.svelte-g4rw9 {
    display: block;
    grid-template-rows: var(--grid-rows);
    grid-template-columns: var(--grid-cols);
    gap: var(--spacing-lg);
}



div.svelte-19hvt5v {
    display: flex;
    position: relative;
    border: 3px solid #2e2e2e;
    border-top: none;
    border-bottom-right-radius: var(--container-radius);
    border-bottom-left-radius: var(--container-radius);
    padding: var(--block-padding);
}


.tab-nav.svelte-1g805jl {
    display: flex;
    position: relative;
    flex-wrap: wrap;
    border-bottom: 3px solid #2e2e2e;
    white-space: nowrap;
}


.selected.svelte-1g805jl {
    border-color: #2e2e2e;
    background: var(--background-fill-primary);
    color: var(--body-text-color);
}

button.svelte-1g805jl {
    margin-bottom: -1px;
    border: 3px solid transparent;
    border-color: transparent;
    border-bottom: none;
    border-top-right-radius: var(--container-radius);
    border-top-left-radius: var(--container-radius);
    padding: var(--size-1) var(--size-4);
    color: var(--body-text-color-subdued);
    font-weight: var(--section-header-text-weight);
    font-size: var(--section-header-text-size);
}

.primary.svelte-1ipelgc {
    border: var(--button-border-width) solid #525252;
    background: var(--button-primary-background-fill);
    color: #2c2c2c;
}


.gradio-button.generate-box-skip, .gradio-button.generate-box-interrupt {
    position: absolute;
    width: 50%;
    height: 100%;
    display: none;
    background: #2a2a2a;
}

.secondary.svelte-1ipelgc:hover, .secondary[disabled].svelte-1ipelgc {
    border-color: var(--button-secondary-border-color-hover);
    background: var(--button-secondary-background-fill-hover);
    color: #2a2a2a;
}

.dark .progressDiv {
    background: #3a3a3a;
}

.progressDiv .progress {
    width: 0%;
    height: 20px;
    background: #00f4f4;
    color: #2a2a2a;
    font-weight: bold;
    line-height: 20px;
    padding: 0 8px 0 0;
    text-align: right;
    border-radius: 3px;
    overflow: visible;
    white-space: nowrap;
    padding: 0 0.5em;
}


.extra-network-cards .card {
    display: inline-table;
    margin: 0.5em;
    width: 6em;
    height: 10em;
    box-shadow: 0 0 5px rgba(128, 128, 128, 0.5);
    border-radius: 0.2em;
    position: relative;
    background-size: auto 100%;
    background-position: center;
    overflow: hidden;
    cursor: pointer;
    background-image: url('https://raw.githubusercontent.com/wilzamguerrero/SDZ/main/SDZ_custom/icon/card-no-preview.jpg');
}

.extra-network-cards {
    height: 180px;
    overflow: scroll;
    resize: vertical;
}


.extra-network-cards .card .actions .name {
    font-size: 1em;
    font-weight: normal;
    line-break: anywhere;
}

.extra-network-cards .card:hover {
    box-shadow: 0 0 2px 0.3em #00f4f4;
}

.fixed-height.svelte-g4rw9.svelte-g4rw9 {
    min-height: 900px;
}

element.style {
    overflow-y: auto;
    max-height: 100vh;
    min-height: initial;
    flex-grow: 1;
}


div.gradio-container {
    max-height: 100vh;
    overflow-y: auto;
    max-width: unset !important;
}








.block.gradio-html.svelte-90oupt.padded.hide-container {
  background-color: #383838;
}

.svelte-vt1mxs.gap {
  background-color: #383838;
}

.dark.physton-gradio-container {
  background-color: #383838;
}

.lg.primary.gradio-button.svelte-cmf5ev {
  color: #383838;
}

.lg.primary.gradio-button.svelte-cmf5ev:hover {
  color: #ffffff;
}






