.wrap.svelte-gjihhp {
    display: none !important;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: var(--layer-5);
    border-radius: var(--block-radius);
    background: var(--background-fill-primary);
    padding: 0 var(--size-6);
    max-height: var(--size-screen-h);
    overflow: hidden;
}


[id$='2img_prompt'] textarea {
    color: #999999 !important;
    max-height: 84px;
    overflow-y: auto;
}


[id$='2img_prompt'] textarea:focus {
    color: #2f85ff !important;
}


[id$='2img_neg_prompt'] textarea {
    color: #999999 !important;
    max-height: 84px;
    overflow-y: auto;
}


[id$='2img_neg_prompt'] textarea:focus {
    color: #2f85ff !important;
    max-height: 84px;
    overflow-y: auto;
}

.gradio-container {
    font-size: var(--fontSize);
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    background-image: radial-gradient(
    circle 600px at calc(100% - 300px) 300px,
    #141414,
    #141414
  );
    background-repeat: no-repeat;
}

#quicksettings:before {
    content: '' !important;
    display: block;
    background: none !important;
    width: 0px !important; */
    height: 0px !important; */
    z-index: 1000 !important; */
    margin-right: 0px !important; */
    margin-left: 0px !important; */
    margin-top: 0px !important; */
}





